<!DOCTYPE HTML>
<html>
<head>
<title>枕上诗书</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seen Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" />
<script src="../static/js/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
	
  </script>

<!---- start-smoth-scrolling---->
<script type="text/javascript" src="../static/js/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!---End-smoth-scrolling---->
<script src="../static/js/js/bootstrap.js"></script>
</head>
<body>
<!-- header -->
<div class="header" id="home">
			<div class="clearfix"></div>
			<div class="container">
	   <div class="header-bottom">
		<div class="header-bottom">
	   <nav class="navbar navbar-default">
							<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
									  </button>
									<div class="navbar-brand">
										<h1><a href="index.html">书语</a></h1>
									</div>
								</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
									<li><a href="/index">首页 <span class="sr-only">(current)</span></a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">书香<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/book/ciyun">词云展示</a></li>
									<li><a href="/book/keshihua">数据可视化</a></li>
								</ul>

									</li>
									<li><a href="/book">藏书阁</a></li>
									<li class="active"><a href="#">枕上诗书</a></li>
									<li><a href="/better">闲处好</a></li>
								</ul>

							</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
						</nav>

					</div>
	</div>

	</div>
</div>
	<div class="features-section">
			<div class="container">
				<!-- <h3><button type="submit">提交</button></h3> -->
				<form action="/find" method="post">
				<div style="width: 400px; height: 50px; margin-left: 350px; position: relative;"><input class="form-control"  name="tip" style="float:right;" 
				placeholder="请输入想搜素的小说名字">
				<h3><button type="submit"  class="btn btn-info btn-default " style="position: absolute; left: 410px;">搜索</button></h3>
			</div>
				<!-- <h3><button type="submit"  class="btn btn-info btn-default btn-lg">搜索</button></h3> -->

			</form>
				<div class="features-grids">
					<div class="col-md-6 left-grid">
						<div class="features-grid1">
							<div class="feature">
								<h4>《中国古代书籍》</h4>
									<p>内容简介：人们描述中国的初期书籍，多以商周时期留存下来的甲骨文、青铜器铭文、石刻文字资料为例，但初期书籍可能早就产生，只是没有流传的文字记录。.</p>
								</div>
									<div class="icon5">
										<img src="../static/images/icon1.png">
										</div>
										<div class="clearfix"></div>
									</div>
				<div class="features-grid1">
							<div class="feature">
								<h4>《遮天》</h4>
									<p>简介:以九龙拉棺为引子,带出一个庞大的洪荒玄幻世界,引出上古神话的遗秘。所以说《遮天》这本书世界观宏大,12本足以封神的经典小说 本本激情澎湃很是诱惑想象力丰富,各代大帝各领风骚.</p>
								</div>
									<div class="icon5">
										<img src="../static/images/icon2.png">
										</div>
										<div class="clearfix"></div>
									</div>	
					<div class="features-grid1">
							<div class="feature">
								<h4>《骆驼祥子》</h4>
									<p>《骆驼祥子》 老舍(著) 描述了20世纪20年代军阀混战时期人力车夫的悲惨命运。祥子是旧社会劳苦大众的代表人物。.</p>
								</div>
									<div class="icon5">
										<img src="../static/images/icon5.png">
										</div>
										<div class="clearfix"></div>
									</div>										
							</div>
							<div class="col-md-6 right-grid">
						<div class="features-grid1">
							<div class="feature">
								<h4>《仙逆》</h4>
									<p>顺为凡,逆则仙,只在心中一念间……这本书无论是剧情塑造还是主配描绘都很不错,各种网络小说中鱼目混珠.</p>
								</div>
									<div class="icon5">
										<img src="../static/images/icon3.png">
										</div>
										<div class="clearfix"></div>
									</div>
				<div class="features-grid1">
							<div class="feature">
								<h4>《呐喊》</h4>
									<p> 《呐喊》 鲁迅(著) 鲁迅第一本短篇小说集,真实地描绘了从辛亥革命到五四运动时期的社会生活,从革命民主主义出发,抱着启蒙主义目的和人道主义精神,揭示了种种深层次的社会矛盾.</p>
								</div>
									<div class="icon5">
										<img src="../static/images/icon4.png">
										</div>
										<div class="clearfix"></div>
									</div>	
				<div class="features-grid1">
							<div class="feature">
								<h4>《边城》</h4>
									<p>《边城》 沈从文(著) 沈从文的代表作,展示给读者的是湘西世界和谐的生命形态.</p>
								</div>
									<div class="icon5">
										<img src="../static/images/icon6.png">
										</div>
										<div class="clearfix"></div>
									</div>										
							</div>
								<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="footer-section">
					<div class="container">
						<div class="footer-left">
							<p>书中自有黄金屋.<a target="_blank" href="#">毕业设计</a></p>
						</div>
							<div class="bottom-menu">
								<ul>
										<li><a href="/index" >首页</a></li>
								<li><a href="/">书香</a></li>
									<li><a href="/book">藏书阁</a></li>

									<li><a href="/poem" class="active">枕上诗书</a></li>
									<li><a href="/better">闲处好</a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
							<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>				
				</div>
</body>
</html>