<!DOCTYPE HTML>
<html>
<head>
<title>{{data}}</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seen Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" />
<script src="../static/js/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });

  </script>

<!---- start-smoth-scrolling---->
<script type="text/javascript" src="../static/js/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!---End-smoth-scrolling---->
<script src="../static/js/js/bootstrap.js"></script>
</head>
<body>
<!-- header -->
<div class="header" id="home">
			<div class="clearfix"></div>
			<div class="container">
	   <div class="header-bottom">
		<div class="header-bottom">
	   <nav class="navbar navbar-default">
							<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
									  </button>
									<div class="navbar-brand">
										<h1><a href="index.html">书语</a></h1>
									</div>
								</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
									<li><a href="/index">首页 <span class="sr-only">(current)</span></a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">书香<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/book/ciyun">词云展示</a></li>
									<li><a href="/book/keshihua">数据可视化</a></li>
								</ul>

									</li>
									<li><a href="/book">藏书阁</a></li>
									<li class="active"><a href="#">枕上诗书</a></li>
									<li><a href="/better">闲处好</a></li>
								</ul>

							</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
						</nav>

					</div>
	</div>

	</div>
</div>
	<div class="features-section " >
			<div class="container">
				<!-- <h3><button type="submit">提交</button></h3> -->

				<h3>{{data}}</h3>
			</div>
				<!-- <h3><button type="submit"  class="btn btn-info btn-default btn-lg">搜索</button></h3> -->

				<div class="features-grids container">
					<div class="col-md-12 container"  >
							<div class="feature">
								<h4>在线阅读</h4>
									<div class="container"><p style=" font-size: 22px; ">
                                        {%for i in li%}
                                        {{i}}
                                        <br>
                                        {%endfor%}
                                        .</p>
                                        </div>
								</div>

										<div class="clearfix"></div>

							</div>
						</div>
					</div>

</body>
</html>