<!DOCTYPE HTML>
<html>
<head>
<title>首页</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seen Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
<script src="../static/js/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
	
  </script>

<!---- start-smoth-scrolling---->
<script type="text/javascript" src="../static/js/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!---End-smoth-scrolling---->
<script src="../static/js/js/bootstrap.js"></script>

</head>
<body>
<!-- header -->
<div class="header" id="home">
	
			<div class="clearfix"></div>
			<div class="container">
	   <div class="header-bottom">
	   <nav class="navbar navbar-default">
							<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
									  </button>
									<div class="navbar-brand">
										<h1><a href="/index">书语</a></h1>
									</div>
								</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
									<li class="active"><a href="/index">首页 <span class="sr-only">(current)</span></a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">书香<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/book/ciyun">词云展示</a></li>
									<li><a href="/book/keshihua">数据可视化</a></li>
								</ul>

									</li>
									<li><a href="/book">藏书阁</a></li>
									<li><a href="/poem">枕上诗书</a></li>
									<li><a href="/better">闲处好</a></li>
								</ul>

							</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
						</nav>

					</div>

	</div>

			</div>
		</div>

 <!-- header-section-ends --> 
	<div class="header-slider">
		<div class="slider">
			<div class="callbacks_container">
			  <ul class="rslides" id="slider">
				<li>
				  <img src="../static/images/b.jpg"  style="heigth:650px; width:100%;" alt="">
				  <div class="caption">
					<h3>枕上诗书</h3>
					<p>读书，是为了谋心，而非谋生。是一个见天地，见众生，见自己的过程。文以载道，金玉良言，尽在书中；文以清心，酒酬知己，文酬知音。文字的生命力，妙笔生花，如四季的花开花谢，铭记的是爱和温暖.</p>
				
				  </div>
				</li>
				<li>
				  <img src="../static/images/b (2).jpg  " style="height:650px; width:100%;" alt="">
					<div class="caption">
					<h3>晓看天空暮看云，行也思君坐也思君！</h3>
					<p>白发戴花君莫笑，岁月从不败美人，若有诗书藏于心，撷来芳华成至真.</p>
				</div>
				</li>
			</ul>
		  </div>
	  </div>
	 </div>
	 </div>
				<div class="beautifull">
				<div class="container">
				<div class="beautifull-header">
					<h4>了解更多书籍资料</h4>
<!--						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknowns.Android, it doesn't matter. Your content will always looks its absolute.</p>-->
						</div>
					<div class="beautifull-grids">
						<div class="col-md-6 beautiful-grid">
							<div class="icon1">
								<i class="heart"></i>
									</div>
									<div class="passion">
									<a style="text-decoration:none" target="_blank" href="https://baike.baidu.com/item/%E6%9C%80%E6%97%A9%E7%9A%84%E4%B8%AD%E5%9B%BD/10271286"><h4>《最早的中国》</h4></a>
									<p>主要利用考古发掘与研究成果，辅之以出土与传世文献及相关学科的材料，以二里头遗址为切入点，系统地阐述了东亚历史上最早的广域王权国家即早期“中国”形成的过程。全书既有宏阔的视野，又不乏细致入微的观察，小到二里头王都内遗迹遗物的描述，大到对全球文明史总体框架，以及距今万年以来的中国史前社会的发展历程的勾画。.</p>
								</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-6 beautiful-grid">
							<div class="icon1">
								<i class="star"></i>
								</div>
									<div class="passion">
									<a style="text-decoration:none" target="_blank" href="https://baijiahao.baidu.com/s?id=1619627752082158606&wfr=spider&for=pc" ><h4>《弹歌》</h4></a>
									<p>这是一首远古民歌，反映了原始社会狩猎的生活。载于《吴越春秋》，系上古炎黄民曲，相传是黄帝时代产生的一首民间歌唱。据《吴越春秋》记载，春秋末年越国的国君勾践向楚国的射箭能手陈音，询问弓弹的道理，陈音在回答时引用了这首民歌。当时是唱是诵.</p>
								</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
				</div>
				</div>
				<div class="contact-section">
					<div class="container">
						<div class="contact-grids">
							<div class="col-md-4 contact-grid">
									<h5>python</h5>
									<p>利用了flask框架 爬虫进行数据提取 然后存放到数据库 最后利用sql语句进行查询所需要的数据 在此利用scrapy爬虫也可以 也可以是使用crawl达到一个数据的全站爬去 从而更加快捷的拿到数据.</p>
								</div>
								<div class="col-md-4 contact-grid">
									<h5>其他组件 </h5>
										<p> css的bootstrap框架 可以更好地搭建网站布局 响应式布局利用flex 和媒体查询 less文件可以更好地更快捷编辑css代码 其中搭配echarts和词云更好的展示.</p>
										<div class="icon2">

															</div>
								</div>
								<div class="col-md-4 contact-grid">
									<h5>html  css  js</h5>
										<p>利用html把框架搭好 使用css的进行美化 最后用BOM和dom操作进行一个简单的交互作用 从而更加使得网页有一个生动的作用.</p>
											<div class="subscribe">
											</div>
									</div>
									<div class="clearfix"></div>
							</div>
						</div>
				</div>
				<div class="footer-section">
					<div class="container">
						<div class="footer-left">
							<p>书中自有黄金屋.<a target="_blank" href="#">毕业设计</a></p>
						</div>
							<div class="bottom-menu">
								<ul>
								<li><a href="/index" class="active">首页</a></li>
								<li><a href="/">书香</a></li>
									<li><a href="/book">藏书阁</a></li>

									<li><a href="/poem">枕上诗书</a></li>
									<li><a href="/better">闲处好</a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
							<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>				
				</div>
</body>
</html>