<!DOCTYPE HTML>
<html>
<head>
<title>闲处好</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seen Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
<script src="../static/js/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/js/responsiveslides.min.js"></script>
<link rel="stylesheet" href="../static/css/swipebox.css">
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
	
  </script>

<!---- start-smoth-scrolling---->
<script type="text/javascript" src="../static/js/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!---End-smoth-scrolling---->
<script src="../static/js/js/bootstrap.js"></script>
</head>
<body>
<!-- header -->
	<div class="header" id="home">
	
			<div class="clearfix"></div>
	<div class="container">
	   <div class="header-bottom">
		<div class="header-bottom">
	   <nav class="navbar navbar-default">
							<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
									  </button>
									<div class="navbar-brand">
										<h1><a href="/index">书语</a></h1>
									</div>
								</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
									<li><a href="/index">首页 <span class="sr-only">(current)</span></a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">书香<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/book/ciyun">词云展示</a></li>
									<li><a href="/book/keshihua">数据可视化</a></li>
								</ul>

									</li>
									<li><a href="/book">藏书阁</a></li>
									<li ><a href="/poem">枕上诗书</a></li>
									<li class="active"><a href="#">闲处好</a></li>
								</ul>

							</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
						</nav>

					</div>
	</div>
	</div>
</div>

	<div class="portfolio-work-section" id="portfolio">
		<div class="container">
			<div class="our-work-section-head text-center">
				<h3>纸上得来终觉浅 绝知此事要躬行</h3>
			</div>
			<div id="portfoliolist">
				<div class="portfolio">
					<div class="portfolio-wrapper grid_box">		
						 <a href="../static/images/1.jpg" class="swipebox"  title="春风回暖">  <img style="height: 600px; width: 800px;" src="../static/images/1.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
					</div>
				</div>				
				<div class="portfolio">
					<div class="portfolio-wrapper grid_box">		
						 <a href="../static/images/2.jpg" class="swipebox"  title="人间日常"> <img style="height: 600px; width: 800px;" src="../static/images/2.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

					</div>
				</div>					
				<div class="portfolio">
					<div class="portfolio-wrapper grid_box">		
						 <a href="../static/images/3.jpg" class="swipebox"  title="所幸有光"> <img style="height: 600px; width: 800px;" src="../static/images/3.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

					</div>

				</div>
				<div class="portfolio">
					<div class="portfolio-wrapper grid_box">		
						 <a href="../static/images/4.jpg" class="swipebox"  title="总会相逢"> <img style="height: 600px; width: 800px;" src="../static/images/4.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

					</div>
				</div>			
				<div class="portfolio">
					<div class="portfolio-wrapper grid_box">		
						 <a href="../static/images/5.jpg" class="swipebox"  title="欲买桂花同载酒"> <img style="height: 600px; width: 800px;" src="../static/images/5.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

					</div>
				</div>	
				<div class="portfolio">
					<div class="portfolio-wrapper grid_box">		
						 <a href="../static/images/6.jpg" class="swipebox"  title="终不似，少年游"> <img style="height: 600px; width: 800px;" src="../static/images/6.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

					</div>
				</div>
			</div>
		</div>
		<script src="../static/js/js/jquery.swipebox.min.js"></script> 
	<script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox();
		});
	</script>

	</div>
	<!-- portfolio-section-ends -->
<div class="contact-section">
					<div class="container">
						<div class="contact-grids">
							<div class="col-md-4 contact-grid">
									<h5><a target="_blank" href="https://baike.baidu.com/item/%E8%A1%8C%E4%B9%A6/472950?fr=aladdin">行书之美</a></h5>
									<p>行书，是一种书法统称，分为行楷和行草两种。它在楷书的基础上发展起源的，是介于楷书、草书之间的一种字体，是为了弥补楷书的书写速度太慢和草书的难于辨认而产生的。"行"是"行走"的意思，因此它不像草书那样潦草，也不像楷书那样端正.</p>
									<a href="#" class="more">开始书香之旅！<img src="../static/images/arrow.png"></a>
								</div>
								<div class="col-md-4 contact-grid">
									<h5><a href="https://baike.baidu.com/item/%E6%A5%B7%E4%B9%A6/482941" target="_blank">楷书之体</a> </h5>
										<p>楷书也是一种官名。《新唐书·百官志二》书中记中书省史馆有楷书二十人，写国史楷书十八人。楷书作为官名也称作楷书手，掌缮写之事，在同一机构中并置，因具体分工有所不同。《通典·职官二十二》记楷书手为流外勋品官。宋代无楷书手之称，惟称楷书.</p>
										<div class="icon2">

															</div>
								</div>
								<div class="col-md-4 contact-grid">
									<h5><a href="https://baike.baidu.com/item/%E7%98%A6%E9%87%91%E4%BD%93/884949" target="_blank">瘦金体</a></h5>
										<p>瘦金体是宋徽宗赵佶所创的一种字体，是书法史上极具个性的一种书体，因其与晋楷唐楷等传统书体区别较大，个性极为强烈，故可称作是书法史上的一个独创，代表作有《楷书千字文》、《秾芳诗》等.</p>

									</div>
									<div class="clearfix"></div>
							</div>
						</div>
				</div>
				<div class="footer-section">
					<div class="container">
						<div class="footer-left">
							<p>书中自有黄金屋.<a target="_blank" href="#">毕业设计</a></p>
						</div>
							<div class="bottom-menu">
								<ul>
								<li><a href="/index" >首页</a></li>
								<li><a href="/">书香</a></li>
									<li><a href="/book">藏书阁</a></li>

									<li><a href="/poem">枕上诗书</a></li>
									<li  ><a href="/better" class="active">闲处好</a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
							<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>				
				</div>
</body>
</html>